<!-- Newsletter START -->
<div class="bg-light p-4 mt-4 rounded-3 text-center">
    <h4>Mail bültenine abone olun!</h4>
    <form method="post" action="/NewsLetter/SubscribeMail/">
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="E-Posta Adresi" required name="Mail">
        </div>
        <button type="submit" class="btn btn-primary">Abone Ol</button>
        <div class="form-text">Spam mail gönderimi yapmıyoruz!</div>
    </form>
</div>
<!-- Newsletter END -->