<!-- Newsletter START -->
<div class="col-md-4">
	<!-- Form -->
	<form class="row row-cols-lg-auto g-2 align-items-center justify-content-end" method="post" action="/NewsLetter/SubscribeMail/">
		<div class="col-12">
			<input type="email" class="form-control" placeholder="E-Posta Adresi" required name="Mail">
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn-primary m-0">Abone Ol</button>
		</div>
		<div class="form-text mt-2">
			Spam mail gönderimi yapmıyoruz!
			<a href="#" class="text-decoration-underline text-reset">Gizlilik Politikası</a>
		</div>
	</form>
</div>
<!-- Newsletter END -->
