@model IEnumerable<EntityLayer.Concrete.Category>

<!-- Categories -->
<div class="row g-2">
    <h5>Kategoriler</h5>
    @foreach (var item in Model)
    {     
        <div class="d-flex justify-content-between align-items-center bg-@item.CategoryDescription bg-opacity-10 rounded p-2 position-relative">
            <h6 class="m-0 text-@item.CategoryDescription">@item.CategoryName</h6>
            <a href="#" class="badge bg-@item.CategoryDescription stretched-link">0</a>
        </div>
    }
</div>